.rate-stars {

  &__star {
    fill: $white-color;
    stroke: #9b9b9b;
    cursor: pointer;

    &:not(:last-child) {
      margin-right: 6.5px;
    }

    &:hover {
      fill: #FFBA49;
      stroke: none;
    }
  }
}
