.tab-description {
  padding: 35px 65px 65px;
  border-radius: 10px;
  border: 1px solid #DADADA;

  &__row {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }

  &__date {
    @include text-style(1.8rem, 400, #9B9B9B);
    margin-left: 15px;
    margin-top: 5px;
  }

  &__title {
    @include text-style(3.6rem, 600, #000000);
  }

  &__text {
    @include text-style(1.8rem, 400, #545454);
    line-height: 21px;
    margin-bottom: 50px;
  }
}
