.tabs {

  $e: &;

  &--fixed-width {
    width: 665px;
  }

  &__header {
    display: inline-flex;
    align-items: center;
    position: relative;
    margin-bottom: 50px;

    &:after {
      content: '';
      position: absolute;
      height: 3px;
      width: 665px;
      background-color: #DADADA;
      left: 0;
      top: calc(100% + 18px);
    }
  }

  &__title {
    position: relative;
    padding: 0 40px;
    @include text-style(1.8rem, 600, #545454);
    cursor: pointer;

    &:not(:last-child) {
      &:after {
        content: '';
        position: absolute;
        width: 2px;
        height: 37px;
        background-color: #DADADA;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
      }
    }

    &--selected {
      color: $main-color;

      &:last-child {
        &:before {
          content: '';
          position: absolute;
          width: 119%;
          height: 3px;
          background-color: $main-color;
          left: 0;
          top: calc(100% + 18px);
          z-index: 2;
        }
      }

      &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: $main-color;
        left: 0;
        top: calc(100% + 18px);
        z-index: 2;
      }
    }
  }
}
