@import "nullstyle.scss";

//* {
//  background: #000 !important;
//  color: #0f0 !important;
//  outline: solid #f00 1px !important;
//}

@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/typography";
@import "abstracts/animations";

// blocks
@import "blocks/container";
@import "blocks/header";
@import "blocks/main";
@import "blocks/welcome-section";
@import "blocks/button";
@import "blocks/cards-section";
@import "blocks/card";
@import "blocks/link-path";
@import "blocks/fluid-section";
@import "blocks/courses-section";
@import "blocks/button-outline";
@import "blocks/course-card";
@import "blocks/rate-stars";
@import "blocks/footer";
@import "blocks/startup-welcome";
@import "blocks/tabs";
@import "blocks/auth";
@import "blocks/input-box";
@import "blocks/startup-page";
@import "blocks/path-history";
@import "blocks/startup-info";
@import "blocks/progress-box";

html, body {
  font-size: 62.5%;
  font-family: $base-font;
  //scroll-behavior: smooth;
}

img {
  max-width: 100%;
  height: auto;
}

// swiper styles

