@import "nullstyle.scss";

//* {
//  background: #000 !important;
//  color: #0f0 !important;
//  outline: solid #f00 1px !important;
//}

@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/typography";
@import "abstracts/animations";

// blocks
@import "blocks/container";
@import "blocks/header";
@import "blocks/main";
@import "blocks/welcome-section";
@import "blocks/button";
@import "blocks/cards-section";
@import "blocks/card";
@import "blocks/link-path";
@import "blocks/fluid-section";
@import "blocks/courses-section";
@import "blocks/button-outline";
@import "blocks/course-card";
@import "blocks/rate-stars";
@import "blocks/footer";
@import "blocks/startup-welcome";
@import "blocks/tabs";
@import "blocks/auth";
@import "blocks/input-box";
@import "blocks/startup-page";
@import "blocks/path-history";
@import "blocks/startup-info";
@import "blocks/progress-box";
@import "blocks/categories";
@import "blocks/tab";
@import "blocks/tab-description";
@import "blocks/tab-faq";
@import "blocks/tab-comments";
@import "blocks/comment-box";
@import "blocks/user-box";
@import "blocks/course-progress";
@import "blocks/side-box";
@import "blocks/course-materials";
@import "blocks/test-page";
@import "blocks/modal";
@import "blocks/button-blue";
@import "blocks/result-box";
@import "blocks/certificate";
@import "blocks/startup-register";
@import "blocks/startup-input";
@import "blocks/profile-page";
@import "blocks/side-tabs";
@import "blocks/setting-page";
@import "blocks/startup-setting";
@import "blocks/event-page";
@import "blocks/about-page";

html, body {
  font-size: 62.5%;
  font-family: $base-font;
  //scroll-behavior: smooth;
}

img {
  max-width: 100%;
  height: auto;
}

// swiper styles

